@{
    ViewBag.Title = "Rate";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h4 class="page-title">Manage Rate</h4>
        </div>
        <div class="col-xs-8 text-right m-b-30">
            <a href="@Url.Action("AddEditRate", "Rate")" class="btn btn-primary pull-right rounded"><i class="fa fa-plus"></i>Add New</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <table class="table table-striped custom-table datatable" id="example">
                    <thead>
                        <tr>
                            <th>Rate Code</th>
                            <th>Title</th>
                            <th>Amount</th>
                           <th>Store</th>
                            <th>Rate Type</th>
                            
    <th>Is Prepay</th>
    <th>startTime</th>
    <th>EndTime</th>
    <th>BufferTime</th>
                            <th>Color</th>
    <th>AlertInterval</th>
    <th>Status</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>








<script>
    jQuery(document).ready(function () {



        $('#example').DataTable({
            "ajax": {
                "url": "/Rate/LoadDataForRateDataTable", // GetUserList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
 // { "data": "rateID" },
  { "data": "rateCode" },
  { "data": "title" },
  { "data": "amount" },
  { "data": "StoreName" },
  { "data": "RateTypeName" },
  { "data": "isPrepay" },
  { "data": "startTime" },
  { "data": "endTime" },
  { "data": "bufferTime" },
  { "data": "color" },
  { "data": "alertInterval" },
  { "data": "active" },
   {// this is Actions Column
       mRender: function (data, type, row) {
          var _rateID = row.rateID;
           var _div = '<div class="dropdown">';
           var linkEdit = '<a href="javascript:void(0);" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a><ul class="dropdown-menu pull-right"><li><a href="@Url.Action("AddEditRate", "Rate", new { id = -1 })"><i class="fa fa-pencil m-r-5"></i>Edit</a>';
           var linkDel = '<li><a href="javascript:void(0);" onclick=DeleteData("' + row.rateID + '");><i class="fa fa-pencil m-r-5"></i>Delete</a></li></ul></div>';

           linkEdit = linkEdit.replace("-1", row.rateID);
           linkDel = linkDel.replace("-1", row.rateID);

           var _fnal = _div + linkEdit + linkDel;
           return _fnal;
       },
       className: "text-right"
   }


            ]
        });



        //jQuery("#modal-content").iziModal({
        //    title: "Shfit Details",
        //    //subtitle: "Simple, complete and lightweight modal plugin with jquery.",
        //    //iconClass: 'icon-stack',
        //    //overlayColor: 'rgba(255, 255, 255, 0.4)',
        //    width: 500,
        //    closeOnEscape: true,
        //    closeButton: true,
        //    overlay: true,
        //    overlayClose: true,
        //    appendTo: 'body', // or false
        //    appendToOverlay: 'body', // or false
        //    overlayColor: 'rgba(0, 0, 0, 0.4)',
        //    padding: 20
        //});

    });



</script>


