@model IEnumerable<POS.Models.MenuModel>

    <ul class="collapsible collapsible-accordion">
        @{foreach (var item in Model.Where(s => s.menuParentID == 0).GroupBy(Obj => new { Obj.menuID }).Distinct().ToList())
        {
             <li class="bold">
                 <a class="collapsible-header waves-effect waves-cyan" href="/@item.FirstOrDefault().controllerName/@item.FirstOrDefault().actionName">
                     <i class="mdi-av-equalizer"></i>
                     @item.FirstOrDefault().menuName
                 </a>
                 <div class="collapsible-body">
                     <ul class="collapsible collapsible-accordion">
                         @{foreach (var firstItem in (Model.Where(s => s.menuParentID == item.FirstOrDefault().menuID).ToList()))
                         {
                             <li class="no-padding">
                                 <ul class="collapsible collapsible-accordion">
                                     <li class="bold">
                                         <a class="collapsible-header waves-effect waves-cyan" href="/@firstItem.controllerName/@firstItem.actionName">

                                             @firstItem.menuName

                                         </a>
                                         <div class="collapsible-body">
                                             <ul>
                                                 @foreach (var secondItem in (Model.Where(s => s.menuParentID == firstItem.menuID).ToList()))
                                                 {
                                                     <li class="bold active">
                                                         <a href="/@secondItem.controllerName/@secondItem.actionName">
                                                             @secondItem.menuName
                                                         </a>

                                                     </li>
                                                 }
                                             </ul>
                                         </div>


                                     </li>
                                 </ul>


                             </li>
                         }
                         }
                     </ul> @*man*@
</div>
             </li>
        }
        }
    </ul>
