@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h4 class="page-title">Manage Products</h4>
        </div>
        <div class="col-xs-8 text-right m-b-30">
            <a href="@Url.Action("AddEditProduct", "Product")" class="btn btn-primary pull-right rounded"><i class="fa fa-plus"></i>Add Product</a> 
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <table class="table table-striped custom-table datatable" id="example">
                    <thead>
                        <tr>
                            <th>Code</th>
                            <th>Title</th>
                            <th>Store</th>
                            <th>Active</th>
                            <th class="text-right">Action</th>
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>


<script>
    jQuery(document).ready(function () {



        $('#example').DataTable({
            "ajax": {
                "url": "/Product/LoadDataForProductDataTable",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
            { "data": "CategoryCode" },
            { "data": "CategoryTitle" },
            { "data": "store" },
            { "data": "active" },
            {// this is Actions Column
            mRender: function (data, type, row) {
            var _div = '<div class="dropdown">';
            var linkEdit = '<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a><ul class="dropdown-menu pull-right"><li><a href="@Url.Action("AddEditCategory", "Category", new { id = -1 })"><i class="fa fa-pencil m-r-5"></i>Edit</a>';
            var linkDel = '<li><a href="@Url.Action("DeleteCategory", "Categroy", new { id = -1 })"><i class="fa fa-pencil m-r-5"></i>Delete</a></li></ul></div>';

            linkEdit = linkEdit.replace("-1", row.categoryId);
            linkDel = linkDel.replace("-1", row.categoryId);

            var _fnal = _div + linkEdit + linkDel;
            return _fnal;
            },
            className: "text-right"
            }


            ]
            });



    });



</script>

