@model POS.Models.DesignationModel
@{
    ViewBag.Title = "ViewDestignation";
    Layout = "~/Views/Shared/_Layout.cshtml";

}





<div class="content container-fluid">
    <div class="row">
        <div class="col-xs-4">
            <h4 class="page-title">Manage Designation</h4>
        </div>
        <div class="col-xs-8 text-right m-b-30">
            <a href="@Url.Action("AddEditDesignations", "Designation")" class="btn btn-primary pull-right rounded"><i class="fa fa-plus"></i>Add Designation</a>

        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="table-responsive">

                <table class="table table-striped custom-table datatable" id="example">
                    <thead>
                        <tr>


                            <th>Desigantion Name</th>
                            
                            <th class="text-right">Action</th>
                            @*<th>Edit</th>
                                <th>Delete</th>
                                <th>View</th>*@
                        </tr>
                    </thead>
                    <tbody></tbody>
                </table>
            </div>
        </div>
    </div>
</div>





<script>





    jQuery(document).ready(function () {

    
        jQuery('#example').DataTable({
            "ajax": {
                "url": "/Designation/LoadDataForDestignationsDataTable", // GetUserList",
                "type": "POST",
                "datatype": "json"
            },
            "columns": [
  { "data": "title" },
  //{ "data": "active" },
   {// this is Actions Column
       mRender: function (data, type, row) {

           var _div = '<div class="dropdown">';
           var linkEdit = '<a href="#" class="action-icon dropdown-toggle" data-toggle="dropdown" aria-expanded="false"><i class="fa fa-ellipsis-v"></i></a><ul class="dropdown-menu pull-right">';
           var linkDel = '<li><a href="@Url.Action("DeleteDesignations", "Designation", new { id = -1 })"><i class="fa fa-pencil m-r-5"></i>Delete</a></li></ul></div>';

           linkEdit = linkEdit.replace("-1", row.designationId);
           linkDel = linkDel.replace("-1", row.designationId);

           var _fnal = _div + linkEdit + linkDel;
           return _fnal;


       },
       className: "text-right"
   }


            ]
        });






    });




</script>









